.mainHeader {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1360px;
  min-height: 120px;
  height: 14.2vh;
}

.logo {
  cursor: pointer;
}

.link1 {
  font-size: 12px;
  letter-spacing: 2.5px;
  line-height: 15px;
  font-family: "Libre Baskerville", serif;
  color: #7d7d7d;
  text-transform: uppercase;
  &:hover {
    color: black;
  }
}

.mainView {
  margin: auto;
  max-width: 1360px;
}

@media screen and (max-width: 1375px) {
  .mainHeader,
  .mainView {
    padding: 0 30px;
  }
}

@media screen and (max-width: 1024px) {
  .mainHeader {
    min-height: unset;
    height: 90px;
  }
  .logo {
    width: 75%;
  }
}

@media screen and (max-width: 660px) {
  .mainHeader {
    height: 80px;
  }

  .logo {
    width: 65%;
  }
  .link1 {
    font-size: 0.9rem;
  }
}
