.mainHeader {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1360px;
  padding: 40px 0px;
}

.link1 {
  font-size: 12px;
  letter-spacing: 2.5px;
  line-height: 15px;
  font-family: "Libre Baskerville", serif;
  color: #7d7d7d;
  text-transform: uppercase;
}

.mainView {
  margin: auto;
  max-width: 1360px;
}
