.galleryContent {
  min-height: 72vh;
  padding: 50px 0px;
  display: grid;
  border-top: solid #e5e5e5 1px;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 1fr;
  position: relative;
}

.imageContainer {
  position: relative;
  grid-column: 1/9;
  grid-row-start: 1;
  height: fit-content;
}

.heroImage {
  width: 100%;
}

.viewImage {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 152px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba($color: #000000, $alpha: 0.9);
  cursor: pointer;
  &:hover {
    background: rgba($color: #979797, $alpha: 0.7);
  }
}

.artistImage {
  position: absolute;
  right: -175px;
  bottom: -50px;
}

.viewText {
  color: white;
  letter-spacing: 2.14px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  .viewsvg {
    pointer-events: none;
  }
  .viewText {
    pointer-events: none;
  }
}

.titleContainer {
  background-color: white;
  margin-top: -1px;
  padding-left: 50px;
  grid-column: 8/15;
  grid-row-start: 1;
  width: fit-content;
  min-height: 0;
  min-width: 0;
  height: max-content;
  z-index: 3;
  .paintingName {
    padding-bottom: 30px;
  }
  .artistName {
    padding-bottom: 50px;
    color: #7d7d7d;
  }
}

.display {
  font-size: 20rem;
  font-family: "Libre Baskerville", serif;
  color: #f3f3f3;
  font-weight: 700;
  line-height: 150px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50px;
  right: 0%;
}

.copyContainer {
  position: relative;
  grid-column: 17/25;
  grid-row-start: 1;
  height: fit-content;

  .bodyCopy {
    margin-top: 13rem;
    color: #7d7d7d;
    width: 85%;
  }
  .sourceLink {
    display: block;
    font-size: 0.9rem;
    letter-spacing: 1.93px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    color: #7d7d7d;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 5rem 0rem 0rem 1rem;
    &:hover {
      color: black;
    }
  }
}

.controller {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1360px;
  height: 10.7vh;
  min-height: 96px;
  padding: 25px 0px;
  border-top: solid 2px;
  border-image-slice: 30 0 0;
  margin-top: 2rem;

  .controllerH3 {
    padding-bottom: 5px;
  }
  .controllerH5 {
    padding-top: 5px;
  }
  .controllerLinks {
    width: 90px;
    display: flex;
    justify-content: space-between;
    .controlBtn {
      cursor: pointer;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}

.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .modalContainer {
    margin: 4rem;
  }

  .close {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    text-align: end;
    padding-bottom: 3rem;
    &:hover {
      color: #7d7d7d;
    }
  }
  .galleryImage {
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .copyContainer {
    grid-column: 16/25;
  }
}

@media screen and (max-width: 1200px) {
  .copyContainer {
    grid-column: 15/25;
  }
}

@media screen and (max-width: 1140px) {
  .galleryContent {
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr 100%;
  }
  .imageContainer {
    grid-column: 3/16;
  }
  .artistImage {
    position: absolute;
    right: -175px;
    bottom: 170px;
  }
  .titleContainer {
    grid-column: 11 /24;
  }
  .display {
    display: unset;
    right: unset;
    grid-row-start: 2;
    grid-column-start: 4;
    margin-top: 2rem;
  }
  .copyContainer {
    grid-column: 6/20;
    grid-row-start: 2;

    .bodyCopy {
      margin-top: 13rem;
      width: 100%;
    }
  }
}
@media screen and (max-width: 990px) {
  .imageContainer {
    grid-column: 1/16;
  }
  .artistImage {
    position: absolute;
    right: -175px;
    bottom: 100px;
  }
  .titleContainer {
    grid-column: 9 /24;
  }
  .display {
    display: unset;
    right: unset;
    grid-row-start: 2;
    grid-column-start: 4;
    margin-top: 2rem;
  }
  .copyContainer {
    grid-column: 6/20;
    grid-row-start: 2;

    .bodyCopy {
      margin-top: 13rem;
      width: 100%;
    }
  }
  .modal {
    grid-template-columns: 1.5fr 4fr 1.5fr;
  }
}

@media screen and (max-width: 760px) {
  .imageContainer {
    grid-column: 1/25;
  }
  .artistImage {
    width: 64px;
    right: unset;
    left: 0;
    bottom: -90px;
    z-index: 4;
  }
  .viewImage {
    bottom: unset;
    top: 30px;
  }
  .titleContainer {
    grid-column: 1 /22;
    grid-row-start: 2;
    width: 100%;
    margin-left: -1px;
    margin-top: -90px;
    padding: 20px;
    .paintingName {
      font-size: 2.4rem;
      line-height: 29px;
      padding: 0 0 1rem 0;
    }
    .artistName {
      font-size: 1.5rem;
      padding: 0;
    }
  }

  .display {
    position: unset;
    font-size: 100px;
    grid-column-start: 1;
    grid-column-end: 25;
    justify-self: end;
    line-height: 100px;
    margin-top: 7rem;
  }
  .copyContainer {
    grid-column: 1/25;

    .bodyCopy {
      margin-top: 14rem;
      width: 100%;
    }
  }
}
