.mainGallery {
  border-top: solid #e5e5e5 1px;
}

.imageList {
  padding-top: 40px;
  display: column;
  column-count: 4;
  gap: 40px;
}

.imageList > * {
  break-inside: avoid;
}

.listItem {
  padding-bottom: 40px;
  position: relative;
}

.anchor {
  &:hover + .overlay {
    background: rgba($color: #c0c0c0, $alpha: 0.4);
  }
}

.imageItem {
  align-self: start;
  width: 100%;
}

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 44px;
  left: 0;
  right: 0;
  background: rgba($color: #000000, $alpha: 0.3);
}

.imageText {
  position: absolute;
  bottom: 70px;
  left: 40px;
  width: 80%;
  cursor: pointer;
}

.paintingName {
  color: white;
  padding-bottom: 8px;
}

.artistName {
  color: #e5e5e5;
}

@media screen and (max-width: 1280px) {
  .imageList {
    column-count: 3;
  }
}
@media screen and (max-width: 960px) {
  .imageList {
    column-count: 2;
  }
}
@media screen and (max-width: 660px) {
  .imageList {
    column-count: 1;
  }
}
